<!--- example text to remind myself how to do this

h1 {
    color:red;
    font-family:veranda;
    font-size:24px;
    line-height:2em;
    background-color:blue;
    border-style:outset;
    border-width:5px;
    padding:5px;
    }

--->
